extends layout
block container 
    .container.d-flex.justify-content-center.align-items-top.mt-5
        #about.d-flex.flex-column.p-5.align-items-center(style="border-collapse:collapse;")
            h1 關於我們
            table.table
                tbody
                    tr
                        td
                            .row.about-name
                                p 許靜玟
                                table.table.table-striped
                                    tbody
                                        tr
                                            td(style="width:15%") 學系
                                            td 元智大學資傳系科技組
                                            
                                        tr
                                            td(style="width:15%") 年齡
                                            td 20
                                        tr
                                            td(style="width:15%") 性別
                                            td 女
                                        tr
                                            td(style="width:15%") 電話
                                            td 0965-332-147
                                        tr
                                            td(style="width:15%") E-mail
                                            td chrissy93881209@gmail.com
                    tr
                        td
                            .row.about-name
                                p 黃郁淇
                                table.table.table-striped 
                                    tbody
                                        tr
                                            td(style="width:15%") 學系
                                            td 元智大學資傳系科技組
                                        tr
                                            td(style="width:15%") 年齡
                                            td 20
                                        tr
                                            td(style="width:15%") 性別
                                            td 女
                                        tr
                                            td(style="width:15%") 電話
                                            td 0963-558-561
                                        tr
                                            td(style="width:15%") E-mail
                                            td joyce890926@gmail.com
                    tr
                        td
                            .row.about-name
                                p 陳柏諺
                                table.table.table-striped 
                                    tbody
                                        tr
                                            td(style="width:15%") 學系
                                            td 元智大學資傳系科技組
                                        tr
                                            td(style="width:15%") 年齡
                                            td 20
                                        tr
                                            td(style="width:15%") 性別
                                            td 男
                                        tr
                                            td(style="width:15%") 電話
                                            td 0900000000
                                        tr
                                            td(style="width:15%") E-mail
                                            td 0900000000@0000000
block javascript 
    script(src='/javascripts/script.js')
