extends layout
block stylesheets 
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css' rel='stylesheet')
block container
    .container.d-flex.flex-column.justify-content-around.align-items-center
        h1 歷年學測詳解
        .folder.d-flex.justify-content-center
            a.d-flex.flex-column.align-items-center(href='/answer/110年詳解')
                i.fas.fa-folder
                | 110年
            a.d-flex.flex-column.align-items-center(href='javascript:;')
                i.fas.fa-folder
                | 109年
            a.d-flex.flex-column.align-items-center(href='javascript:;')
                i.fas.fa-folder
                | 108年
            a.d-flex.flex-column.align-items-center(href='javascript:;')
                i.fas.fa-folder
                | 107年
            a.d-flex.flex-column.align-items-center(href='javascript:;')
                i.fas.fa-folder
                | 106年
block javascript 
    script(src='/javascripts/script.js')