extends layout
block stylesheets 
block container
    .container-filud.d-flex.justify-content-center.align-items-center
            .col-2.mt-5.d-flex.align-items-center.justify-content-center
                .card.text-center.justify-content-bottom(style='width: 20rem;height:30rem;background:url("/images/card1.jpg") center center; background-size: cover;')
                    //- img.card-img-top(src='/images/card1.jpg' style='height:68%;width:100%')
                        //- h5.card-title 
                    p.card-text.mt-5
                        //-     | Some quick example text to build on the card title and make up the bulk of the card's content.
                    a(href='/test')
                        button.btn.btn-primary.mt-5(type='button') 開始考試
                            //Start
            .col-2.mt-5.d-flex.align-items-center.justify-content-center
                .card.text-center.justify-content-bottom(style='width: 20rem;height:30rem;background:url("/images/card2.jpg") center center; background-size: cover;')
                    //- img.card-img-top(src='/images/card2.jpg' style='height:68%;width:100%;')
                    //style='height:68%;width:100%'

                        //h5.card-title.align-items-center 會員登入
                    p.card-text.mt-5
                        //-     | Some quick example text to build on the card title and make up the bulk of the card's content.
                    a(href='/member/sign-in')
                        button.btn.btn-secondary.mt-5(type='button') 會員專區
                // Force next columns to break to new line
            .col-2.mt-5.d-flex.align-items-center.justify-content-center
                .card.text-center.justify-content-bottom(style='width: 20rem;height:30rem;background:url("/images/card3.jpg") center center; background-size: 150% auto;')
                    //- img.card-img-top(src='/images/card3.jpg' style='height:68%;width:100%;')
                        //- h5.card-title.align-items-center 歷年解答
                    p.card-text.mt-5
                        //-     | Some quick example text to build on the card title and make up the bulk of the card's content.
                    a(href='/answer')
                        button.btn.btn-danger.mt-5(type='button') Answer
            .col-2.mt-5.d-flex.align-items-center.justify-content-center
                .card.text-center.justify-content-bottom(style='width: 20rem;height:30rem;background:url("/images/card4.jpg") center center; background-size: cover;')
                    //- img.card-img-top(src='/images/card4.jpg' style='height:68%;width:100%;')
                        //- h5.card-title.align-items-center 關於我們
                    p.card-text.mt-5
                        //-     | Some quick example text to build on the card title and make up the bulk of the card's content.
                    a(href='/about')
                        button.btn.btn-warning.mt-5(type='button') About us
block javascript 
    script(src='/javascripts/script.js')