extends layout

block stylesheets 
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css' rel='stylesheet')

block container
    .container.d-flex.flex-column.justify-content-around.align-items-center
        h1 成績顯示頁面
        .folder.d-flex.justify-content-center
            h3= title
block javascript 
    script(src='/javascripts/scoreShow.js')