extends layout
block stylesheets 
block container
    .container.d-flex.justify-content-center.align-items-center
        .test.d-flex.flex-column.p-5.align-items-center
            h1 考試注意事項
            .role.d-flex.flex-column.align-items-left
                p 1.本考試只包含選擇題、填充題，非選擇題則無。
                p 2.單選題如提交超過一個答案，則該題視為錯誤。
                p 3.考試時間在頁面左側，剩餘10分鐘時會有提醒視窗。
                p 4.考試時間結束就會強制提交答案卷，請保握時間。
                p 5.畫面最上方為考試進度調，表示已完成了多少題目。
            form#home-form.d-flex.justify-content-end(action='')
                select#sel_year.form-select(aria-label='Default select example')
                    option(selected='') 選擇年份
                    option(value='110') 110
                    option(value='109') 109
                    option(value='108') 108
                select#sel_obj.form-select(aria-label='Default select example')
                    option(selected='') 選擇科目
                    option(value='Chinese') 國文
                    option(value='English') 英文
                    option(value='Math') 數學
                .button
                    input.btn.btn-secondary(type='submit', value='開始考試')
block javascript 
    script(src='/javascripts/script.js')