    body {
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 223, 193);
        background: url("/images/background.jpeg");
    }
    
    header {
        height: 150px;
        background-color: rgb(255, 255, 255);
        /* border-bottom: 3px rgb(128, 128, 128) dashed; */
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    header .title>a {
        position: relative;
        color: red;
    }
    header .title>a::after {
        content: '';
        position: absolute;
        left: 0%;
        bottom: 0%;
        height: 1px;
        width: 100%;
        height: 1px;
        background-color: red;
        transform: scale(0, 1);
        transition: transform .25s ease 0s;
    }
    
    header .title:hover a::after {
        transform: scale(1, 1);
    }
    
    header>#nav {
        height: 100%;
    }
    .container {
        width: 100%;
        height: 807px;
    }
    .container-filud {
        width: 100%;
        height: 807px;
        padding: 0 50px;
    }
    .form-select {
        width: 150px;
        margin: 0 5px;
    }
    .test{
        border: 10px groove rgb(255, 127, 110);
        width: 800px;
        height: 600px;
        border-radius: 40px;
        background-color: rgba(255, 255, 255, 0.734);
        box-shadow:12px 12px 7px rgb(12, 0, 0);
    }
    .test>h1{
        font-size: 50px;
       margin: 0 0 50px 0;
       font-weight: bold;
    }
    .role{
        margin: 0 0 50px 0;
    }
    .role > p{
        text-align: left;
        font-size: 22px;
        margin: 0 0 20px 0;
     }
    .icon img {
        width: 50px;
        height: 50px;
        margin: 0 7px;
    }

    /* 首頁 */
    
    #home-form>.button {
        display: none;
    }
    .card{
        box-shadow:12px 12px 7px rgba(19, 16, 0, 0.789);
        margin: 0px 25px 0 10px;
        justify-content: space-around;
    }
    .card:hover{
        transform: scale(1.05);
    }
    a>.btn{
        transform: scale(1.5);
    }

    /* 會員 */
    
    #member-form {
        width: 400px;
        height: 450px;
        border: 1px solid black;
        margin-top: 100px;
    }
    
    .text a {
        display: inline-block;
        text-decoration: underline;
        transition: .3s;
    }
    
    .text a:hover {
        transform: translateY(-5px);
        text-decoration: none;
        color: white;
    }
    /* 註冊 */
    
    #sign-up-form {
        width: 800px;
        height: 600px;
        background-color: rgba(0, 0, 0, 0.151);
        border: 1px solid rgb(170, 167, 164);
        border-radius: 10px;
        color: rgb(0, 0, 0);
    }
    
    .logIn {
        width: 500px;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.151);
        border: 5px solid rgb(170, 167, 164);
        border-radius: 10px;
    }
    
    .logIn h2 {
        width: 180px;
        text-align: center;
        color: white;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }
    
    .logIn .account,
    .logIn .password {
        width: 180px;
    }
    
    .logIn form label {
        color: white;
        font-size: 15px;
    }
    
    .logIn input {
        border-radius: 5px;
        border: none;
    }
    
    .logIn input:focus {
        outline: none;
    }
    
    .logIn .btn input {
        flex-grow: 1;
        border-radius: 5px;
        color: white;
        background-color: rgb(90, 139, 245);
        cursor: pointer;
    }
    
    .logIn .btn input {
        margin: 0 10px;
    }

    /* 歷年選擇 */
    
    .folder {
        width: 800px;
        height: 500px;
    }
    
    .folder a {
        display: inline-block;
        width: 160px;
        height: 100px;
        font-size: 25px;
    }
    
    .folder a:hover {
        color: gray;
    }
    
    .fa-folder {
        font-size: 50px;
        margin: auto;
    }
    /* 科目選擇 */
    
    .download {
        width: 800px;
        height: 500px;
    }
    
    .download a {
        display: inline-block;
        width: 100px;
        height: 100px;
        position: relative;
        font-size: 30px;
        text-align: center;
        transition: .3s;
    }
    
    .download a:hover {
        color: rgba(0, 0, 0, .5);
        transform: translateY(-5px);
    }
    
    .fa-download {
        font-size: 50px;
    }
    /* 題目 */
    
    #submit {
        border-radius: revert;
    }

    .time {
        width: 300px;
    }
    
    .time span {
        color: red;
        font-weight: bold;
    }
    
    #question-form {
        width: 720px;
        border: 2px groove black;
        border-radius: 20px;
        margin: 0 50px;
        background-color: rgba(255, 255, 255, .9);
        text-align: left;
    }
    #question-form td{
        border:1px black solid;
    }
    #question-form span {
        margin: 10px 0;
    }
    
    .content {
        /* width: 400px;
        border: 2px dashed red;*/
         background-color: rgba(255, 255, 255, .9); 
        width: 650px;
        border:5px groove #c30606;
        border-radius: 10px;
    }
    
    .toggle {
        opacity: 100;
        transition: .3s;
    }
    
    #answer-form {
        /* width: 350px;
        border: 1px double red; */
        width: 650px;
    }
    
    #answer-form .letter {
        /* width: 330px;
        margin-left: 18px; */
        width: 600px;
        margin-left: 11px;
        border-bottom: 1px solid red;
    }
    
    .Chinese .letter p {
        margin: 0 10px;
        /* margin: auto; */
        font-size: 16px;
    }
    
    .Chinese label {
        width: 215px;
        /* width: 350px;
  
        line-height: 20px; */
        margin: 8px 0;
        text-align: center;
    }
    
    .Chinese label>input {
        width: 15px;
        /* width: 25px;
        height: 25px; */
        margin: 0 6px;
    }
    
    .English .letter p {
        /* margin: auto;
        font-size: 20px; */
        margin: 0 0px 0 16px;
        font-size: 16px;
    }
    
    .English label {
        /* width: 350px; */
        width: 325px;
        /* margin: 10px 0;
        line-height: 20px; */
        text-align: center;
    }
    
    .English label>input {
        /* width: 20px;
        height: 20px;
        margin: 0 4px; */
        width: 12px;
        margin: 0 5px;
    }
    
    .Math .letter p {
        margin: 0 0 0 13px;
        /* font-size: 20px; */
    }
    
    .Math label {
        width: 325px;
        margin: 7px 0;
        line-height: 20px;
        text-align: center;
    }
    
    .Math label>input {
        /* width: 18px;
        height: 18px; */
        margin: 0 2.5px;
    }
    .Mathcontent>table{
        border-collapse: collapse;
        border: 1px #000000 solid;
    }
    .Mathcontent>table>tbody>tr>td{
        border: 1px solid #000000;
        text-align: center;
        font-size: 20px;
        color: black;
    }
    .Mathcontent>table>tbody>tr>th{
        border: 1px solid #050303;
        text-align: center;
        font-size: 20px;
        color: black;
    }
    .out{
        border-top: 5em #505050 solid; /*上邊框寬度等於表格第一行行高*/
        border-left: 200px #1b1b1b solid; /*左邊框寬度等於表格第一行第一格寬度*/
        position: relative; /*讓裏面的兩個子容器絕對定位*/
        color:rgb(255, 255, 255);
    }
   .out>b{
        font-style: normal;
        display: block;
        position: absolute;
        top: -5em;
        left: -160px;
        width: 200px;
    }
    .out>em{
        font-style: normal;
        display: block;
        position: absolute;
        top: -40px;
        left: -230px;
        width: 200px;
    }
    /*註冊表單*/
    
    .invalid {
        color: red;
        width: 200px;
        height: 0px;
        float: right;
        margin-right: 100px;
    }
    /*關於我們*/
    #about{
        /* width: 800px; */
        margin: 0 50px;
        /* height: 1050px; */
        border-radius: 10px;
        padding: 1rem 3rem!important;
        height: auto;
        color: #ffffff;
    }
    #about>h1{
        margin: 20px 0 20px 0;
        border-bottom: #446889 3px solid;

    }
    #about>h4{
        margin: 60px 0;
        padding: 20px 0;
        text-align: center;
        border-left: #4aafaf 3px solid;
    }
    #about>table{
        border-left: #4aafaf 3px solid; 
    }
    #about>table>tbody>tr>td{
        border-style: none; 
    }
    .about-name{
        margin: 0px 0px 20px 0px;
        /* border:3px rgb(0, 0, 0) dashed; */
        border-radius:10px; 
        background-color: rgb(255, 253, 253, 0.92);
        box-shadow:12px 12px 7px rgb(12, 0, 0);
        font-size: 18px;
        padding: 10px;
    }
    .about-name:hover{
        transform: scale(1.05);
    }
    .about-name>p{
        font-size: 24px;
        color: #2b0290;
        font-weight: bold;
        margin-bottom: 5px;
        margin: 10px 0;
    }
   /*會員專區*/
   .memberrocuse{
        width: 600px;
        height: 680px;
        border: 1px #a17a7a groove;
        border-radius: 10px;
        padding: 20px 30px;
        text-align: center;
        background-color: #d6b9b9b9;
        text-align: center;
        justify-content: center;
        box-shadow:12px 12px 7px rgb(48, 46, 46);
        margin-bottom: 5rem;
   }
   .memberrocuse>.row{
        text-align: center;
        margin-top: 2rem!important;
        margin: 0px -100px 0px 0px;
   }
   .fs-3 {
        font-size: 22px!important;
        margin-top: 8px;
    }
    /* 成績顯示頁面 */
    #score {
        margin-top: -4rem;
    }
    #myCanvas {
        margin-top: -5rem;
    }