extends ../layout
block container 
    .container.d-flex.justify-content-center.align-items-top.mt-5
        #about.d-flex.flex-column.p-5.align-items-center(style="border-collapse:collapse;")
            h1#title 歷史成績
            table.table
                tbody
                    tr
                        td
                            .row
                                p.fs-2 #{title}
                                table.table.table-striped.fs-3.table-dark
                                    tbody
                                        tr#here
                                            th(scope='col') 
                                            th(scope='col') 年份
                                            th(scope='col') 科別
                                            th(scope='col') 成績
                                        each item,i in score
                                            tr
                                                th(scope='row')=i+1
                                                td 110
                                                td=`${item.object}`
                                                td=`${item.score}`
block javascript
    script(src='/javascripts/script.js')
