extends ../layout
block  stylesheets
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css' rel='stylesheet')
block container
    .container.d-flex.flex-column.justify-content-around.align-items-center
        h1 歷年學測詳解
        .folder.d-flex.justify-content-center
            .download.d-flex.justify-content-around
                a.d-flex.flex-column.align-items-center(href='/download/110學年度學科能力測驗解析國文.pdf' download='110學年度學科能力測驗解析國文')
                    i.fas.fa-download
                    | 國文
                a.d-flex.flex-column.align-items-center(href='/download/110學年度學科能力測驗解析英文.pdf' download='110學年度學科能力測驗解析英文')
                    i.fas.fa-download
                    | 英文
                a.d-flex.flex-column.align-items-center(href='/download/110學年度學科能力測驗解析數學.pdf' download='110學年度學科能力測驗解析數學')
                    i.fas.fa-download
                    | 數學 
